.images-section>img {
    max-width: 100%;
    margin: 0 0 .5rem 0;
    aspect-ratio: 16/9;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.images-section > img.a{
    animation: show-i 1.5s ease forwards;
    -webkit-animation: show-i 1.5s ease forwards;
    opacity: 0;
}

.images-section .other-images-container {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.other-images-container img {
    width: 4.8rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    opacity: .7;
    transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
}

.other-images-container img.active{
    border: 2px solid var(--primary-500);
    opacity: 1;
}

@media screen and (min-width:1000px) {
    .images-section {
        position: relative;
        isolation: isolate;
    }

    .images-section::after {
        content: "";
        position: absolute;
        bottom: .5rem;
        left: 0;
        width: 100%;
        height: 15rem;
        background: linear-gradient(180deg, #FFF 0%, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.00) 47.43%, rgba(0, 0, 0, 0.62) 72%, #000 100%);
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .images-section .other-images-container {
        max-width: 65%;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        z-index: 2;
    }
}

@keyframes show-i {
    to{
        opacity: 1;
    }
}