.list-modal-overlay{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.72);
    position: fixed;
    top:0;
    left:0;
    z-index: 19;
}

.list-modal-overlay .list-modal{
    background-color: white;
    border-radius: 1rem;
    width:90%;
    max-width: 35rem;
    margin:auto;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    opacity: 0;
    transform: translateY(5rem);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    -o-transform: translateY(5rem);
    animation: slide-up ease-in-out .5s forwards;
    -webkit-animation: slide-up ease-in-out .5s forwards;
}

.list-modal .list-modal-header{
    display: flex;
    border-bottom: var(--faint-line-style);
    column-gap: 1rem;
    align-items: start;
    justify-content: space-between;
    padding: 2rem 1.5rem 1rem;
}

.list-modal-header button{
    background-color: transparent;
    border: none;
}

.list-modal-header .list-header-text{
    flex:1;
}

.list-modal .list-modal-body{
    padding: 1rem 1.5rem;
    height: 20rem;
    overflow: auto;
}

.list-modal-body .single-list{
    position: relative;
    overflow: hidden;
    color:white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    isolation: isolate;
    padding:.5rem 0;
    width:100%;
    margin:0 0 1rem 0;
    opacity: .7;
}

.list-modal-body .single-list.active{
    opacity: 1;
    outline:  2px solid #3A9FE8;
}

.list-modal-body .single-list::after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    background: linear-gradient(90deg, #000 1.27%, rgba(0, 0, 0, 0.43) 31.06%, rgba(0, 0, 0, 0.00) 59.87%, rgba(0, 0, 0, 0.78) 98.93%);
    top:0;
    left:0;
    z-index: -1;
}

.list-modal-body .add-new-list{
    background-color: transparent;
    border:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.list-modal-bottom{
    border-top: var(--faint-line-style);
    padding: 1.5rem 2rem;
}

.list-modal-bottom button{
    width: fit-content;
    box-shadow: none;
    display: block;
    margin-left:auto;
}

.list-modal-bottom button:disabled{
    pointer-events: none;
    opacity: .7;
}