.related-anime-container .single-related-anime{
    /* aspect-ratio: 9/14; */
    max-width:15rem;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-shrink: 0;
    height: 30rem;
}

.single-related-anime a{
    text-decoration: none;
}

.single-related-anime img{
    width:100%;
    flex:1;
    max-height:25rem;
    object-fit: cover;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}