.list-inner .view-list-button{
    background-color: transparent;
    border:none;
}

.sidebar .profile-view-list{
    display: none;
}

@media screen and (min-width:1000px) {
    .sidebar .profile-view-list{
        display: block;
        border-top:var(--faint-line-style);
        padding: 1rem 0 2rem 0;
    }
    
    .profile-view-list .profile-view-list-inner{
        display: grid;
        align-items: center;
        justify-content: start;
        width:90%;
        margin:auto;
        column-gap: .5rem;
        grid-template-columns: auto auto 1fr;
    }

    .profile-view-list-inner > img{
        width:3rem;
        border-radius: 50%;
        aspect-ratio: 1/1;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        object-fit: cover;
    }

    .logout-button img{
        max-width: 2rem;
    }
}

.profile-view-list-inner .cta{
    background-color: var(--primary-500);
    padding: 1rem 2rem;
    color: white;
    font-size: 1.3rem;
    box-shadow: 0px 2px 8px 0px #89C5F1;
    font-weight: 500;
    font-family: manrope;
    border:none;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}