*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

button{
    cursor: pointer;
}

@font-face {
    font-family: clashG;
    src: url("./assets/app assets/Fonts/ClashGrotesk-Variable.ttf");
}

@font-face {
    font-family: manrope;
    src: url("./assets/app assets/Fonts/Manrope-VariableFont_wght.ttf");
}

input{
    font-family: manrope;
    color: #000;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; 
    letter-spacing: -0.012rem;
}

:root{
    --bg-color : #fafafa;
    --bg-gradient: linear-gradient(214deg, rgba(176, 217, 246, 0.45) 0.61%, rgba(216, 250, 240, 0.31) 20.07%, rgba(250, 250, 250, 0.00) 80.02%);

    --primary-100: #D8ECFA;
    --primary-200 : #B0D9F6;
    --primary-300 : #89C5F1;
    --primary-400 : #61B2ED;
    --primary-500 : #3A9FE8;
    --primary-600 : #2E7FBA;
    --primary-700 : #235F8B;
    --primary-800 : #17405D;
    --primary-900 : #0C202E;

    --sk : linear-gradient(90deg,
     hsl(240, 1%, 79%) 25%,
      hsl(0, 0%, 76%) 50%,
       hsl(0, 0%, 79%) 75%);
}

.search-input{
    border-radius: 3rem;
    border: 1.7px solid #0C202E;
    background: #F1F8FD;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.home-header{
    background: var(--white, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
}

.body-style{
color: #000;
font-family: manrope;
font-size: 1.4rem;
font-style: normal;
font-weight: 500;
line-height: 1.4; 

@media screen and(min-width:600px) {
    font-size: 1.6rem;
}
}

.sub-body-style{
font-family: manrope;
font-size: 1.4rem;
font-style: normal;
font-weight: 500;
line-height: 2.3rem; /* 164.286% */
letter-spacing: -0.028rem;

@media screen and(min-width:600px) {
    color: #000;
    font-family: manrope;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem; /* 162.5% */
    letter-spacing: -0.032rem;
}
}

.tight-heading-style{
    color: #0C202E;
    font-family: clashG;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.024rem;

    @media screen and (min-width:900px) {
        font-family: clashG;
        font-size: 2.6rem;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.026rem;
    }
}

.button-text-style{
    color: #000;
    font-family: manrope;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 166.667% */
    letter-spacing: -0.012rem;
}

.subheading{
    color: #0C202E;
    font-family: clashG;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 111.111% */
    letter-spacing: -0.054rem;
}

.sub-sub-heading{
    color: #0C202E;
    font-family: clashG;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 125% */
    letter-spacing: -0.048rem;
}

.primary-button{
    border-radius: 5px;
    width:100%;
    padding: 1.2rem;
    border: none;
    color: white;
    font-size: 1.3rem;
    background: #3A9FE8;
    box-shadow: 0px 2px 8px 0px #89C5F1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.secondary-button{
    border-radius: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.11);
    background: var(--white, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(77, 77, 77, 0.07);
    padding: .8rem .5rem;
}

.text-input{
    border-radius: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.25);
    background-color:  #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input-label{
    color: #000;
    font-family: clashG;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 142.857% */
    letter-spacing: -0.042rem;
}

.back-button-container{
    border-radius: 0.8rem;
    border: 1px solid #B0D9F6;
    background: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(2px);
    width: 4.3rem;
    height: 4.2rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

.other-heading{
    color: #0C202E;
    font-family: clashG;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.054rem;
}

.sub-other-heading{
    color: #000;
    font-family: clashG;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.014rem;
}

.list-movie-title, .list-anime-title, .list-tv-show-title{
    color: #000;
    font-family: clashG;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; 
    letter-spacing: -0.024rem;
}

.transparent-button{
    width: 4.3rem;
    height: 4.2rem;
    border-radius: 0.8rem;
    border: 1px solid #B0D9F6;
    background: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(2px);
}

.tiny-body{
    color: white;
    font-family: manrope;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.036rem;
}

.logout-button{
    justify-self: flex-end;
    background-color: hsl(0, 100%, 96%);
    border:none;
    padding:.4rem;
    border: 1px solid  rgb(255, 158, 158);
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}

@keyframes slide-up {
    to{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
}
}

@keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }