.landing-page-main{
    background: 
    linear-gradient(214deg, rgba(176, 217, 246, 0.63) 0.61%, rgba(216, 250, 240, 0.479) 20.07%, #fafafa60 80.02%),
    url("../assets/landing page assets/images/Dots.svg")
    ;
    min-width: 100%;
    min-height:100vh;
    padding-bottom: 2rem;
}

header.landing-page-header{
    background-color: white;
    width:90vw;
    max-width:150rem;
    position: relative;
    left:50%;
    transform: translateX(50%);
    padding:1rem 1.5rem;
    border-radius: 100vw;
    top:1rem;
    border:2px solid #3aa0e85d;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing-page-header nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav .bmc-logo{
    max-width: 14rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
 
.landing-page-header .logo{
    max-width: 3rem;
}

.landing-page-header nav .buttons{
    display:none;
}

.landing-page-main h1{
    text-align: center;
    font-family: ClashG;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.035rem;
    background-image: linear-gradient(180deg, #0C202E 0%, #193F5A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 4rem auto 1rem;
    max-width: 90vw;
}

.heading > span.gradient{
    display: block;
    background-image: linear-gradient(91deg, #3A9FE8 39.12%, #3AE8B4 63.41%) !important;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading .slide{
    display:inline-block;
    animation: show 1s ease forwards;
    -webkit-animation: show 1s ease forwards;
    background-image: linear-gradient(180deg, #0C202E 0%, #193F5A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-20px) rotateX(-20deg);
    opacity:0;
    -webkit-transform: translateY(-20px) rotateX(-20deg);
    -moz-transform: translateY(-20px) rotateX(-20deg);
    -ms-transform: translateY(-20px) rotateX(-20deg);
    -o-transform: translateY(-20px) rotateX(-20deg);
}

@keyframes show {
    to{
        transform: translateY(0px);
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}

.landing-page-main .sub-heading{
    width:90vw;
    max-width: 65rem;
    margin:0 auto 2rem;
    color: #000000c5;
    text-align: center;
    font-family: manrope; 
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.016rem;
}

.landing-page-main .body-buttons{
    max-width:30rem;
    margin:0rem auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.body-buttons a button img{
    margin: .2rem 0 -1px .5rem;
}

.body-buttons a{
    flex: 1;
    display: block;
}

.body-buttons button{
    flex:1;
    padding: 1.2rem 0rem;
    border-radius: 100vw;
    width:100%;
    border:none;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    font-weight: 500;
    font-family: manrope;
}

.body-buttons .button-primary{
    background-color: #3A9FE8;
    color:white;
    padding: 1.2rem 0rem;
}

.body-buttons .button-secondary{
    background-color: transparent;
    color:Black;
    outline: 2.5px solid #3A9FE8;
    outline-offset: -.1rem;
}

.webapp-image{
    display:block;
    width: 90vw;
    max-width: 150rem;
    margin: auto;
    margin-top: 2rem;
}

.webapp-image.pc{
    display:none;
}

.landing-page-main .menu-overlay.close{
    display:none;
}

.landing-page-main .menu-overlay{
    min-width:100%;
    min-height:100vh;
    background-image:linear-gradient(214deg, rgba(142, 202, 245, 0.753) 0.61%, rgba(178, 250, 228, 0.658) 20.07%, #fafafa60 80.02%);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 4;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-overlay .close-icon{
    position: absolute;
    top:24rem;
    left:65%;
}

.menu-overlay .bmc-logo{
    max-width: 90%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 1rem;
}

.menu-overlay .menu{
    background-color: white;
    width:90vw;
    max-width: 20rem;
    height:11rem;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    animation: slide-up .5s ease-in;
    -webkit-animation: slide-up .5s ease-in forwards;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    opacity: 0;
}

.menu-overlay .menu button{
    flex:1;
    border-radius: 0px;
    width:100%;
    text-align: left;
    padding: 1rem;
    border:none;
    border-bottom: 1px solid black;
    font-weight: 500;
    font-family: manrope;
    background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.close-icon, .menu-icon{
    cursor: pointer;
}

@media screen and (min-width:500px) {
    .landing-page-main .menu-overlay{
        display: none;
    }

    .landing-page-main h1.heading{
        font-size: 4.5rem;
    }
    
    .landing-page-main .sub-heading{
        font-size: 1.6rem;
    }

    .landing-page-header nav .buttons{
        display:initial;
        max-width:28rem;
        margin:0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
    }

    nav .buttons button{
        flex:1;
        border-radius: 100vw;
        width:100%;
        border:none;
        -webkit-border-radius: 100vw;
        -moz-border-radius: 100vw;
        -ms-border-radius: 100vw;
        -o-border-radius: 100vw;
        font-weight: 500;
        font-family: manrope;
        background-color: transparent;
    }

    .landing-page-header .menu-icon{
        display:none;
    }
}

@media screen and (min-width:900px) {
    .landing-page-main h1.heading{
        font-size: 5rem;
    }
    
    .landing-page-main .sub-heading{
        font-size: 1.8rem;
    }

    .webapp-image.pc{
        display:block;
        margin: 5rem auto 2rem auto;
        border:12px solid rgba(255, 255, 255, 0.473);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        box-shadow: 0px 10px 8px .1px rgba(0, 0, 0, 0.041) ;
}

    .webapp-image.mobile{
        display:none;
    }
}