:root{
    --faint-line-style : 1.8px solid rgba(0, 0, 0, 0.199); 
}

.layout-main .sidebar-and-overlay{
    display: none;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    top:0;
    left:0;
    z-index: 6;
}

.layout-main .sidebar-and-overlay.open{
    display: initial;
}

.layout-main .sidebar{
    background-color: white;
    max-height:100vh;
    min-height: 100vh;
    background-color: #fafafa;
    overflow: auto;
    width: 80vw;
    animation: slide-in-left .5s forwards ease;
    -webkit-animation: slide-in-left .5s forwards ease;
    opacity:0;
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);
}

.sidebar .list-header{
    padding: 3rem 0 1rem;
    border-bottom: var(--faint-line-style);
}

@media screen and (min-width:1000px) {
    .layout-main .sidebar-and-overlay{
        width: 30rem;
        display: block; 
        position: static;
        overflow: auto;
    }

    .layout-main .sidebar{
        width: 100%;
        min-height: 100vh;
        overflow: auto;
        border-right: 1px solid var(--primary-100);
        display: flex;
        flex-direction: column;
        opacity: 1;
        transform: none;
        animation: none;
        -webkit-animation: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
}
}

@keyframes slide-in-left {
    to{
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}