.gpt-response-container{
    max-width: 60rem;
    margin: auto;
    display: grid;
}

.gpt-response-container > h1{
    color: #000;
    font-family: clashG;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5; 
    padding: 1rem 0;
    letter-spacing: -0.02rem;
}


@media screen and (min-width:1000px) {
    .gpt-response-container{
        max-width: 100%;
    }
}