.gpt-response-container{
    max-width: 60rem;
    margin: auto;
    display: grid;
}

.gpt-response-container > h1{
    color: #000;
    font-family: clashG;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5; 
    padding: 1rem 0;
    letter-spacing: -0.02rem;
}


@media screen and (min-width:1000px) {
    .gpt-response-container{
        max-width: 100%;
    }
}

.gpt-response-error{
    border:1.5px solid #d83006;
    background: hsla(9, 100%, 89%, 0.603);
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 60%;
}

.gpt-response-error .other-heading{
    font-weight: 500;
    color: hsl(9, 92%, 10%);
}

.gpt-response-error button{
    margin: 1rem 0 0 0;
    background-color: white;
    color: black;
    box-shadow: none;
}