.layout-main .chat-input{
    background-color: #fafafa;
    position: sticky;
    bottom:0;
}

.layout-main .chat-input-inner{
    padding: 0 0 1rem 0;
    display:flex;
    flex-direction: column;
    align-items: end;
    row-gap:.5rem;
    width:90%;
    max-width: 60rem;
    margin:auto;
}

.chat-input-inner .discover{
    background-color: transparent;
    border:none;
    font-size:1.4rem;
    font-weight: 500;
    font-family: manrope;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin:0 2rem 0 0;
}

.discover img{
    width: 1.6rem;
}

.chat-input-inner .home-input{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem 0 1rem;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.home-input > textarea{
    flex:1;
    border:none;
    background-color: transparent;
    padding: 1.5rem .5rem 1rem 1rem;
    font-family: manrope;
    resize: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    outline: none;
    scrollbar-width: thin;
    font-size:1.5rem;
    font-weight: 500;
}

.home-input > textarea:focus::placeholder{
    opacity: 0;
}

.chat-input-inner:has(textarea:disabled){
    opacity: .6;
    pointer-events: none;
}

.home-input > textarea::placeholder{
    font-weight: 500;
}

.home-input > button{
    border:none;
    background-color: var(--primary-800);
    width:3.8rem;
    height:3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;border-radius: 50%;
}

.home-input > button img{
    max-width: 2.5rem;
}