.layout-main .chat-input{
    background-color: #fafafa;
    position: sticky;
    bottom:0;
}

.layout-main .chat-input-inner{
    padding: 0 0 1rem 0;
    display:flex;
    flex-direction: column;
    align-items: end;
    row-gap:.5rem;
    width:90%;
    max-width: 60rem;
    margin:auto;
}

.chat-input-inner .top-buttons{
    display: flex;
    flex-direction: row-reverse;
}

.chat-input-inner .discover{
    background-color: transparent;
    border:none;
    font-size:1.4rem;
    font-weight: 500;
    font-family: manrope;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin:0 2rem 0 0;
}

.discover img{
    width: 1.6rem;
}

.top-buttons .category-selector-container{
    position: relative;
}

.category-selector-container .all-categories-container{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: .5rem 0;
    width:15rem;
    box-shadow:0 1px  4px hsla(0, 0%, 0%, 0.144);
    bottom:2.3rem;
    left:-100%;
}

.all-categories-container h1{
    width: 90%;
    margin:auto;
}

.all-categories-container hr{
    width:100%;
    background-color: rgba(0, 0, 0, 0.075);
    opacity: .2;
    margin: .5rem 0;
}

.all-categories-container .categories{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.categories button{
    width:90%;
    padding: .5rem 1rem;
    display: block;
    margin: auto;
    border: none;
    background-color: transparent;
    text-align: left;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    font-family: clashG;
    font-weight: 400;
    font-size:1.5rem;
    transition: .1s ease-in background-color;
    -webkit-transition: .1s ease-in background-color;
    -moz-transition: .1s ease-in background-color;
    -ms-transition: .1s ease-in background-color;
    -o-transition: .1s ease-in background-color;
    opacity: .6;
}

.category-selector-container .categories-button{
    background-color: transparent;
    border:none;
    font-size:1.4rem;
    font-weight: 500;
    font-family: manrope;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin:0 2rem 0 0;
}

.chat-input-inner .home-input{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem 0 1rem;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.home-input > textarea{
    flex:1;
    border:none;
    background-color: transparent;
    padding: 1.5rem .5rem 1rem 1rem;
    font-family: manrope;
    resize: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    outline: none;
    scrollbar-width: thin;
    font-size:1.5rem;
    font-weight: 500;
}

.home-input > textarea:focus::placeholder{
    opacity: 0;
}

.chat-input-inner:has(textarea:disabled){
    opacity: .6;
    pointer-events: none;
}

.home-input > textarea::placeholder{
    font-weight: 500;
}

.home-input > button{
    border:none;
    background-color: var(--primary-800);
    width:3.8rem;
    height:3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;border-radius: 50%;
}

.home-input > button img{
    max-width: 2.5rem;
}

.categories button:hover{
    background-color: rgba(0, 0, 0, 0.116);
}

.categories button.active{
    background-color: var(--primary-100);
    opacity: 1;
    font-weight: 500;
    color: #252525;
}