.tv-show-details-layout .subheading {
    margin: 0 0 1rem 0;
}


.other-tv-show-details .images-section,
.other-tv-show-details .thriller-section,
.other-tv-show-details .tv-show-more-section,
.other-tv-show-details .related-tv-shows {
    width: 90vw;
    max-width: 60rem;
    margin: 0 auto 2rem auto;
}


@media screen and (min-width:1000px) {
    .tv-show-details-layout .other-tv-show-details {
        max-width: 90vw;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .other-tv-show-details .images-section,
    .other-tv-show-details .thriller-section,
    .other-tv-show-details .tv-show-more-section,
    .other-tv-show-details .related-tv-show {
        width: 100%;
        max-width: 100%;
        margin: 0 auto 2rem auto;
    }

}