.top-image-skeleton{
    background: linear-gradient(90deg,
    hsl(240, 1%, 74%) 25%,
     hsl(0, 0%, 65%) 50%,
      hsl(0, 0%, 74%) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    min-width: 100%;
  height: 43rem;
  overflow: hidden;
  position: relative;
}

.top-movie-details .top-image-skeleton::after{
    display: none;
}

.top-movie-details .top-image-skeleton::before{
    display: none;
}

.top-details-info-skeleton{
    position: static;
    bottom: 0;
    left: 5vw;
}

.top-details-info-skeleton > div {
  width: 90vw;
  max-width: 60rem;
  margin: 1.5rem auto;
}

.top-details-info-skeleton .name{
    width:20rem;
    height:4rem;
    background: linear-gradient(90deg,
    hsl(240, 1%, 60%) 25%,
     hsl(0, 0%, 50%) 50%,
      hsl(0, 0%, 60%) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 0 1rem 0;
}

.name-and-stats-skeleton .stats {
  max-width: fit-content;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats.skeleton > div{
    width:8rem;
    height:2rem;
    background: linear-gradient(90deg,    hsl(240, 1%, 60%) 25%,     hsl(0, 0%, 50%) 50%,      hsl(0, 0%, 60%) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.description-skeleton .overview{
    width:12rem;
    height:2.5rem;
    background: linear-gradient(90deg,    hsl(240, 1%, 60%) 25%,     hsl(0, 0%, 50%) 50%,      hsl(0, 0%, 60%) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.description-skeleton .overview-text{
    width:100%;
    height:1rem;
    border-radius: 5px;
    margin: 10px 0;
    background: linear-gradient(90deg,    hsl(240, 1%, 60%) 25%,     hsl(0, 0%, 50%) 50%,      hsl(0, 0%, 60%) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.description-skeleton .overview-text:last-child{
    width:60%;
}

.description-skeleton .overview-text:nth-last-child(2){
    width:70%;
}

.description-skeleton .overview-text:nth-last-child(3){
    width:80%;
}

.description-skeleton .overview-text:nth-last-child(2){
    width:70%;
}

.genre-skeleton .genre-container{
    display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: fit-content;
  gap: 1rem;
  flex-wrap: wrap;
  margin: .5rem 0 0;
}

.genre-skeleton .genre-heading{
    width:12rem;
    height:2.5rem;
    background: linear-gradient(90deg,    hsl(240, 1%, 60%) 25%,     hsl(0, 0%, 50%) 50%,      hsl(0, 0%, 60%) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 0 0 1rem 0;
}

.genre-skeleton .single-genre{
    width:9rem;
    height:3.5rem;
    background: linear-gradient(90deg,    hsl(240, 1%, 60%) 25%,     hsl(0, 0%, 50%) 50%,      hsl(0, 0%, 60%) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border:none;
}

.top-movie-details-info.skeleton .name-and-stats-skeleton{
    position: static;
}

@media screen and (min-width:1000px) {
    .top-image-skeleton{
    height: 61rem;
    }

    .top-details-info-skeleton{
    position: absolute;
    }
}