.thriller-section .video {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 16px;
    background-image: url("../../../assets/app assets/images/test.jpg");
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.video.skeleton{
    background: var(--sk);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}