.add-list-modal-overlay{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.72);
    position: fixed;
    top:0;
    left:0;
    z-index: 6;
}

.add-list-modal{
    background-color: white;
    border-radius: 1rem;
    width:90%;
    max-width: 35rem;
    margin:auto;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    opacity: 0;
    transform: translateY(5rem);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    -o-transform: translateY(5rem);
    animation: slide-up ease-in-out .5s forwards;
    -webkit-animation: slide-up ease-in-out .5s forwards;
}

.add-list-modal .add-list-modal-header{
    display: flex;
    border-bottom: var(--faint-line-style);
    column-gap: 1rem;
    align-items: start;
    justify-content: space-between;
    padding: 2rem 1.5rem 1rem;
}

.add-list-modal-header > h2{
    flex:1;
    text-align: left;
}

.add-list-modal-header button{
    background-color: transparent;
    border: none;
}

.add-list-modal .add-list-modal-body{
    padding: 1rem 1.5rem;
}

.add-list-modal-body input{
    width:100%;
    height: 4rem;
    margin: 0 0 1rem 0;
}

.add-list-modal-body button{
    width: fit-content;
    box-shadow: none;
    display: block;
    margin-left:auto;
}