.login-main{
    background: 
    #fafafa
    var(--bg-gradient)
    ;
    padding-top: 4rem;
    min-height:100vh;
}

.login-main .login-back-container{
    margin: 0rem 0 0 5vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

.login-details-container{
    width:90vw;
    max-width: 40rem;
    margin:auto;
}

.login-details-container > h1{
    text-align: center;
    margin: 4rem 0 3rem;
}

.login-form > div{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 0 0 1rem 0;
    position: relative;
}

.login-form > div input{
    width:100%;
    padding: 1.2rem 1rem;
}

.login-form > div input::placeholder{
    font-family: clashG;
    font-weight: 500;
    opacity: .3;
}

.password-container .eye{
    position:absolute;
    right:1.2rem;
    top:50%;
    cursor: pointer;
}

.login-form .primary-button{
    width:100%;
    padding: 1.2rem;
    border: none;
    margin: 2rem 0 1rem 0;
    color: white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form > p{
    font-size: 1.4rem;
    text-align: center;
    font-family: clashG;
    font-weight: 500;
}

.login-loader{
    width:3rem;
    height:3rem;
    border: 3px solid var(--primary-100);
    border-radius: 50%;
    border-left-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: spin infinite ease-in;
    -webkit-animation: spin infinite .5s linear;
}

.login-form button:disabled{
    background-color: var(--primary-400);
    opacity: .6;
    cursor: not-allowed;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}